<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/index.css" />
    <link rel="stylesheet" type="text/css" href="../index.css" />
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body
    class="flex min-h-screen flex-col bg-cover bg-no-repeat"
    style="background-image: url(&quot;../static/1.png&quot;)"
  >
    <!-- Header -->
    <header
      class="flex h-24 items-center justify-between border border-yellow-800 bg-yellow-800 p-4 sm:p-6"
    >
      <h1
        class="rounded-lg border-black bg-black px-4 py-2 text-xl font-extrabold text-white transition duration-300 hover:border-yellow-800 hover:bg-amber-500 sm:text-5xl md:text-6xl"
      >
        GESTION D'ABSENCE
      </h1>

      <nav class="mt-2 sm:mt-0">
        <ul
          class="flex flex-col space-y-2 sm:flex-row sm:space-x-10 sm:space-y-0"
        >
          <li
            class="text-base font-extrabold text-black hover:text-yellow-200 hover:underline sm:mx-2 sm:text-xl"
          >
            <a href="{{ url_for('signin') }}">LOGIN</a>
          </li>
          <li
            class="text-base font-extrabold text-black hover:text-yellow-200 hover:underline sm:mx-2 sm:text-xl"
          >
            <a href="{{ url_for('aboutus') }}">ABOUT US</a>
          </li>
          <li
            class="text-base font-extrabold text-black hover:text-yellow-200 hover:underline sm:mx-2 sm:text-xl"
          >
            <a href="{{ url_for('contactus') }}">CONTACT US</a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- Main content -->
    <main class="flex-grow p-4">
      <h1 class="mt-5 text-2xl font-extrabold sm:text-3xl">Welcome!!</h1>
      <p class="mt-5 text-lg font-bold hover:text-yellow-700 sm:text-xl">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis
        adipisci corrupti, sed ad neque rem facere totam doloribus tempora
        repellat ex. Dicta eaque hic impedit quo soluta obcaecati perferendis
        ullam!
      </p>

      <div
        class="mx-auto mt-10 flex flex-col space-y-6 sm:flex-row sm:space-x-6 sm:space-y-0"
      >
        <div
          class="w-full rounded-2xl border-2 border-black p-4 hover:bg-amber-800 sm:w-96 sm:p-6"
        >
          <h1
            class="text-center text-2xl font-extrabold hover:underline sm:text-3xl"
          >
            XXXXXX
          </h1>
          <p
            class="mt-5 text-center text-base font-bold hover:text-yellow-700 sm:text-lg"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
            laudantium suscipit atque, vel, nemo id quod iste ipsum quaerat
            fugit inventore odit necessitatibus expedita quas error distinctio!
            Asperiores, dolorem possimus.
          </p>
        </div>

        <div
          class="w-full rounded-2xl border-2 border-black p-4 hover:bg-amber-800 sm:w-96 sm:p-6"
        >
          <h1
            class="text-center text-2xl font-extrabold hover:underline sm:text-3xl"
          >
            XXXXXX
          </h1>
          <p
            class="mt-5 text-center text-base font-bold hover:text-yellow-700 sm:text-lg"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
            laudantium suscipit atque, vel, nemo id quod iste ipsum quaerat
            fugit inventore odit necessitatibus expedita quas error distinctio!
            Asperiores, dolorem possimus.
          </p>
        </div>

        <div
          class="w-full rounded-2xl border-2 border-black p-4 hover:bg-amber-800 sm:w-96 sm:p-6"
        >
          <h1
            class="text-center text-2xl font-extrabold hover:underline sm:text-3xl"
          >
            XXXXX
          </h1>
          <p
            class="mt-5 text-center text-base font-bold hover:text-yellow-700 sm:text-lg"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
            laudantium suscipit atque, vel, nemo id quod iste ipsum quaerat
            fugit inventore odit necessitatibus expedita quas error distinctio!
            Asperiores, dolorem possimus.
          </p>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="mt-auto bg-yellow-800 py-3 text-white">
      <div class="container mx-auto text-center text-sm sm:text-base">
        <p>&copy; 2024 XXXXXXXX. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
