<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/index.css" />
    <link rel="stylesheet" type="text/css" href="../index.css" />
    <title>Scan Success</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body
    class="flex min-h-screen flex-col bg-cover bg-no-repeat"
    style="background-image: url(&quot;../static/1.png&quot;)"
  >
    <!-- Header -->
    <header
    class="group flex h-fit items-center justify-between border border-yellow-800 bg-yellow-800 p-4 sm:p-6 md:duration-1000 +
    "
  >
    <h1
      class="rounded-lg cursor-pointer border-black px-4 py-2 text-xl font-extrabold text-white transition duration-300 hover:border-yellow-800 hover:outline-2 group-hover:text-yellow-500 hover:underline sm:text-5xl md:h-fit md:py-1 md:text-8xl md:duration-700"
    >
      Absence Management
    </h1>

    <nav class="mt-2 sm:mt-0">
      <ul
        class="flex flex-col space-y-2 sm:flex-row sm:space-x-8 sm:space-y-0 md:mr-6 md:mt-6 md:space-x-16"
      >
        <li
          class="text-base font-extrabold text-white hover:text-yellow-400 hover:underline  group-hover:underline sm:mx-2 sm:text-xl md:text-2xl md:duration-700"
        >
          <a href="{{ url_for('attendance') }}">BACK</a>
        </li>
        <li
          class="text-base font-extrabold text-white hover:text-yellow-400 hover:underline  group-hover:underline sm:mx-2 sm:text-xl md:text-2xl md:duration-700"
        >
          <a href="{{ url_for('aboutus') }}">ABOUT US</a>
        </li>
        <li
          class="text-base font-extrabold text-white hover:text-yellow-400 hover:underline  group-hover:underline sm:mx-2 sm:text-xl md:text-2xl md:duration-700"
        >
          <a href="{{ url_for('contactus') }}">CONTACT US</a>
        </li>
      </ul>
    </nav>
  </header>

    <!-- Main content -->
    <main class="flex flex-grow items-center justify-center p-4">
      <div
        class="relative rounded border border-red-400 bg-red-100 px-4 py-3 text-center text-red-700"
        role="alert"
      >
        <strong class="font-bold capitalize cursor-pointer">ERROR!</strong>
        <span class="block sm:inline capitalize cursor-pointer">Something went wrong,either the time was up or the code was misstyped</span>
      </div>
    </main>

    <!-- Footer -->
    <footer class="mt-auto bg-yellow-800 py-3 text-white">
      <div class="container mx-auto text-center text-sm sm:text-base">
        <p>&copy; 2024 PIC FSTS. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
