<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/index.css" />
    <link rel="stylesheet" type="text/css" href="../index.css" />
    <title>Scan Success</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body
    class="flex min-h-screen flex-col bg-cover bg-no-repeat"
    style="background-image: url(&quot;../static/1.png&quot;)"
  >
    <!-- Header -->
    <header
      class="flex h-24 items-center justify-between border border-yellow-800 bg-yellow-800 p-4 sm:p-6"
    >
      <h1
        class="rounded-lg border-black bg-black px-4 py-2 text-xl font-extrabold text-white transition duration-300 hover:border-yellow-800 hover:bg-amber-500 sm:text-5xl md:text-6xl"
      >
        GESTION D'ABSENCE
      </h1>

      <nav class="mt-2 sm:mt-0">
        <ul
          class="flex flex-col space-y-2 sm:flex-row sm:space-x-10 sm:space-y-0"
        >
          <li
            class="text-base font-extrabold text-black hover:text-yellow-200 hover:underline sm:mx-2 sm:text-xl"
          >
            <a href="{{ url_for('index') }}">BACK</a>
          </li>

          <li
            class="text-base font-extrabold text-black hover:text-yellow-200 hover:underline sm:mx-2 sm:text-xl"
          >
            <a href="{{ url_for('aboutus') }}">ABOUT US</a>
          </li>

          <li
            class="text-base font-extrabold text-black hover:text-yellow-200 hover:underline sm:mx-2 sm:text-xl"
          >
            <a href="{{ url_for('aboutus') }}">CONTACT US</a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- Main content -->
    <main class="flex flex-grow items-center justify-center p-4">
      <div
        class="relative rounded border border-green-400 bg-green-100 px-4 py-3 text-center text-green-700"
        role="alert"
      >
        <strong class="font-bold">Success!</strong>
        <span class="block sm:inline">You have successfully signedup.</span>
      </div>
    </main>

    <!-- Footer -->
    <footer class="mt-auto bg-yellow-800 py-3 text-white">
      <div class="container mx-auto text-center text-sm sm:text-base">
        <p>&copy; 2024 XXXXXXXX. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
