<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/index.css" />
    <link rel="stylesheet" type="text/css" href="../index.css" />
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body
    class="flex min-h-screen flex-col bg-cover bg-no-repeat"
    style="background-image: url(&quot;../static/1.png&quot;)"
  >
    <!-- Header -->
    <header
      class=" group relative flex h-24 items-center border-b border-yellow-800 bg-yellow-800 px-4"
    >
      <!-- Title -->
      <h1
        class="rounded-lg  px-4 py-3 text-4xl font-extrabold text-white  md:h-fit md:text-7xl group-hover:text-yellow-500 duration-1000"
      >
        GESTION D'ABSENCE
      </h1>

      <!-- Navigation for Mobile and Desktop -->
      <nav
        class="absolute left-0 top-0 w-full bg-yellow-800 sm:relative sm:left-auto sm:right-0 sm:w-auto sm:bg-transparent lg:ml-52"
      >
        <ul
          class="flex flex-col space-y-2 p-4 sm:flex-row sm:space-x-6 sm:space-y-0 sm:p-0 md:space-x-24 md:ml-32"
        >
          <li
            class="text-xl md: font-extrabold text-white hover:text-yellow-500 duration-1000 hover:underline"
          >
            <a href="{{ url_for('attendance') }}">REGISTER PRESENCE</a>
          </li>
          <li
            class="text-xl md: font-extrabold text-white hover:text-yellow-500 duration-1000 hover:underline"
          >
            <a href="{{ url_for('historystudent') }}">PRESENCE HISTORY</a>
          </li>
          <li
            class="text-xl md: font-extrabold text-white hover:text-yellow-500 duration-1000 hover:underline"
          >
            <a href="{{ url_for('index') }}">DISCONNECT</a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- Main content -->
    <main class="mt-24 flex-grow px-4">
      {% if user %}
      <h1 class="text-xl font-extrabold hover:scale-110 hover:text-red-500 duration-1000 cursor-pointer md:text-6xl shadow-2xl">Good To See You Again, {{ user.firstname }}!</h1>
      {% else %}
      <h1 class="text-xl font-bold hover:scale-110 hover:text-red-500 duration-1000 cursor-pointer md:text-6xl">User not logged in!</h1>
      {% endif %}

      <p class="mt-5 text-xl font-bold hover:text-yellow-900 cursor-pointer duration-1000">
        Welcome to our attendance management system! Here, you can easily track your attendance and view your history. Ensure your presence in each class by inserting the code your instructor will provide you with. Stay up to date and never miss out on important sessions!
      </p>
      <div
        class="mb-16 mt-24 flex flex-col space-y-8 sm:flex-row sm:space-x-8 sm:space-y-0 lg:ml-64 justify-center"
      >
        <div
          class="group h-80 w-full rounded-2xl border-2 border-black p-4 hover:bg-yellow-700 sm:w-96 duration-1000 md:-ml-56"
        >
          <h1 class="mb-4 text-center text-2xl font-extrabold group-hover:underline duration-1000 cursor-pointer group-hover:text-yellow-400 ">
            SCAN PRESENCE
          </h1>
          <p class="mb-4 text-center text-lg font-bold  group-hover:text-yellow-400 duration-1000 cursor-pointer">
            To prove your presence in class, simply insert the code provided. This will automatically register your attendance
            and update your presence history.
          </p>
          <a
            href="{{ url_for('attendance') }}"
            class="block text-center text-sm font-bold underline  group-hover:text-yellow-200 md:mt-12 duration-1000"
            >Get started</a
          >
        </div>
        <div
          class=" group h-80 w-full rounded-2xl border-2 border-black p-4 shadow-2xl shadow-black hover:bg-yellow-700 sm:w-96 duration-1000  "
        >
          <h1 class="mb-4 text-center text-2xl font-extrabold group-hover:underline cursor-pointer group-hover:text-yellow-400 duration-1000">
            PRESENCE HISTORY
          </h1>
          <p class="mb-4 text-center text-lg font-bold  group-hover:text-yellow-400 duration-1000 cursor-pointer">
            The application allows users to rewind and check their presence
            history, providing easy access to a comprehensive, detailed record
            of all their past attendance and participation.
          </p>
          <a
            href="{{ url_for('historystudent') }}"
            class="block text-center text-sm font-bold underline  group-hover:text-yellow-200 duration-1000"
            >Get started</a
          >
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="bg-yellow-800 py-3 text-white">
      <div class="container mx-auto text-center">
        <p>&copy; 2024 PIC FSTS. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
